<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secured Page</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="index::logout"></div>
    <h2>This is a secured page!</h2>
    <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</div>
</body>
</html>
