<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="http://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>Example: Yahyaoo/ 123456 Or Yahyaoo/123456@qq.com/123456</p>
        <p class="error" th:if="${param.error}">Invalid user, password, or domain</p>
        <p>
            <label class="sr-only" for="integration">UsernameOrMail</label>
            <input autofocus class="form-control" id="integration" name="integration" placeholder="integration" type="text"/>
        </p>
        <p>Or</p>
        <p>
            <label class="sr-only" for="username">username</label>
            <input autofocus class="form-control" id="username" name="username" placeholder="username" type="text"/>
        </p>
        <p>
            <label class="sr-only" for="mail">mail</label>
            <input autofocus class="form-control" id="mail" name="mail" placeholder="mail" type="text"/>
        </p>
        <p>Must</p>
        <p>
            <label class="sr-only" for="password">Password</label>
            <input autofocus class="form-control" id="password" name="password" placeholder="Password" required type="password"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br/>
        <p>
            <label class="sr-only" for="remember-me">RememberMe</label>
            <input class="form-control" id="remember-me" name="remember-me" type="checkbox">
        </p>
        <br/>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
    </form>
</div>
</body>
</html>
